* {
    padding: 0;
    margin: 0;
}

html {
    background: var(--020-a-18, #020A18);
}

.header {
    margin: 39px 0px 39px 0px;
}

.navigate {
    justify-content: center;
    gap: 40px;
    display: flex;
    list-style: none;
}

.link {
    text-decoration: none;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.central_frame {
    margin: 160px 387px 197px 388px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.sub_title {
    padding-bottom: 10px;
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
}

.title {
    padding-bottom: 40px;
    width: 604px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}

.text1 {
    padding-bottom: 50px;
    width: 558px;
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 160%;
    opacity: 0.7;
}

.buttons {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}

button {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    border: none;
    display: flex;
    gap: 20px;
    padding: 15px 30px;
}

.button_text {
    color: var(--ffffff, #ffffff);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.image {
    width: 414px;
    height: 415px;
    flex-shrink: 0;
}

.brands {
    margin: 0 386.55px 99px 388px;
    gap: 71.36px;
    display: flex;
    justify-content: center;
}

.content {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 364px);
}

.item__h2 {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    width: 90%;
    opacity: 0.7;
}

.item__text {
    color: #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    width: 90%;
    opacity: 0.7;
}


.item1 {
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background: #132035;
    width: 332px;
    height: 389px;
}

.item2__big {
    grid-column: span 2;
    grid-row: span 2;
    margin: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background: #132035;
}

.img__big {
    width: 306px;
    height: 322px;
}